@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');
:root {
    --primary-color: #ec4899;
    --off-white: #e2e8f0;
    --dark-grey: #64748b;
    --secondary-color: #c026d3;

}
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}
hr {
    margin : 3rem 0rem;
}

margin-md {
    margin: 2rem;
}
.container {   
padding: 0rem 1rem;
}
.container-centre {
    max-width: 600px;
    margin: auto;
}
 
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.link-primary {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white
} 
.link-secondary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:white;
}
.list-non-bullet {
    list-style: none;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation {
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills {
    text-align: right;
}

.navigation .link{
    color: white;
}
.navigation .link-active {
    font-weight: bold;
}
.Hero {
padding: 2rem;
padding-top: 5rem;
}

.Hero .Hero-img {
    max-width: 350px;
   display: block;
    margin: auto;

}
.Hero .Hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;

}
.Hero .Hero-heading .Heading-inverted {
    color: var(--primary-color);
}

.section {
padding: 2rem;
}

.section h1 {
text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
    
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}